In [ ]:
# BOOLEAN DATATYPE ASSIGNMENT
# ==========================

# SOLVED EXAMPLE
# --------------
# Question: Check if a number is both even and greater than 10
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

#### ASSIGNMENT QUESTIONS
#### ===================

In [2]:
# Question 1: Check if 25 is greater than 20 and less than 30
print("Question 1: Check if 25 is greater than 20 and less than 30")
# Your code here
print(20< 25 < 30)

Question 1: Check if 25 is greater than 20 and less than 30
True

In [3]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")
# Your code here
print('python' == 'Python')

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
False

In [4]:
# Question 3: Check if 15 is divisible by both 3 and 5
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")
# Your code here
print(True if 15%3 == 0 and 15%5 == 0 else False)

Question 3: Check if 15 is divisible by both 3 and 5
True

In [5]:
# Question 4: Check if 7 is not equal to 8
print("\nQuestion 4: Check if 7 is not equal to 8")
# Your code here
print(7!=8)

Question 4: Check if 7 is not equal to 8
True

In [6]:
# Question 5: Check if 100 is greater than 50 or less than 25
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")
# Your code here
print(50 < 100 or 100<25)

Question 5: Check if 100 is greater than 50 or less than 25
True

ðŸš« Falsy values in Python (important ðŸ”¥)

These are considered False in conditions:

False

None

0

0.0

0j

'' (empty string)

[] (empty list)

() (empty tuple)

{} (empty dictionary)

set() (empty set)

ðŸ‘‰ Everything else is Truthy âœ…

In [10]:
# Question 6: Check if 0 is falsy in Python
print("\nQuestion 6: Check if 0 is falsy in Python")
# Your code here
if 0:
    print("0 is truthy")
else:
    print("0 is falsy")

Question 6: Check if 0 is falsy in Python
0 is falsy

In [9]:
# Question 7: Check if empty string "" is falsy in Python
print("\nQuestion 7: Check if empty string '' is falsy in Python")
# Your code here
if '':
    print("0 is truthy")
else:
    print("0 is falsy")

Question 7: Check if empty string '' is falsy in Python
0 is falsy

In [8]:
# Question 8: Check if 42 is truthy in Python
print("\nQuestion 8: Check if 42 is truthy in Python")
# Your code here
if 42:
    print("0 is truthy")
else:
    print("0 is falsy")

Question 8: Check if 42 is truthy in Python
0 is truthy

In [7]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")
# Your code here
print(5<=10 and 10<=15)

Question 9: Check if 10 is between 5 and 15 (inclusive)
True

In [11]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")
# Your code here
print(3.14>3 and 3.14<4)

Question 10: Check if 3.14 is greater than 3 and less than 4
True