In [ ]:
# DICTIONARY DATATYPE ASSIGNMENT - 50 QUESTIONS
# ============================================

# SOLVED EXAMPLE
# --------------
# Question: Find the key with maximum value in a dictionary
print("SOLVED EXAMPLE:")
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")
print("-" * 50)

#### ASSIGNMENT QUESTIONS (50 QUESTIONS)
#### ==================================

In [ ]:
# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages")
# Your code here
student_details = {
    'Sowmya': 29,
    'Dilip' : 35,
    'Ranga' : 31
    }
print(student_details)

Question 1: Create a dictionary of student names and their ages
{'Sowmya': 29, 'Dilip': 35, 'Ranga': 31}

In [ ]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")
# Your code here
user_input = {'a': 1, 'b': 2, 'c': 3}
user_input['d'] = 4
print(user_input)

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")
# Your code here
user_input = {'name': 'John', 'age': 25, 'city': 'New York'}
user_keys = user_input.keys()
print(user_keys)

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])

In [ ]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")
# Your code here
user_input = {'python': 3, 'java': 2, 'c++': 1}
user_value = user_input.values()
print(user_value)

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dict_values([3, 2, 1])

In [ ]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")
# Your code here
user_input = {'name': 'Alice', 'age': 30, 'city': 'London'}
has_age = 'age' in user_input.keys()
print(has_age)

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
True

In [ ]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")
# Your code here
user_input = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
user_input.pop('temp')
print(user_input)

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
{'a': 1, 'b': 2, 'c': 4}

In [ ]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")
# Your code here
user_input =  {'math': 85, 'science': 92, 'english': 78}
user_value = user_input.values()
print(sum(user_value))

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
255

In [3]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")
# Your code here

squares = {}

for i in range(1,6):
  squares[i] = i**2

print(squares)

Question 8: Create a dictionary with squares of numbers 1 to 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")
# Your code here
string = 'hello'
frequency = {}

for ch in string:
  if ch in frequency:
    frequency[ch] += 1
  else:
    frequency[ch] = 1

print(frequency)

Question 9: Count frequency of each character in string 'hello'
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [5]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
# Your code here
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = {}
merged_dict.update(dict1)
merged_dict.update(dict2)

print(merged_dict)

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [7]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
nested_dict = {
    'person' : {
        'name' : 'Alice',
        'age' : 25
    }
}

print(nested_dict)

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
{'person': {'name': 'Alice', 'age': 25}}

In [5]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
nested_dict = {
    'person' : {
        'name' : 'Alice',
        'age' : 25
    }
}
print(nested_dict['person']['name'])

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
Alice

In [6]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
# Your code here
user_input = {
    'fruits': ['apple', 'banana'],
    'colors': ['red', 'blue']
}
print(user_input)

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [7]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")
# Your code here
user_input = {
    'fruits': ['apple', 'banana'],
    'colors': ['red', 'blue']
}
user_input['fruits'] = ['apple', 'banana', 'orange']
print(user_input)

Question 14: Add 'orange' to the 'fruits' list in nested dictionary
{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

In [8]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")
# Your code here
user_input = {
    'coordinates' : (10, 20) ,
    'rgb' : (255, 0, 0)
}
print(user_input)

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [9]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")
# Your code here
user_input = {
    'coordinates' : (10, 20) ,
    'rgb' : (255, 0, 0)
}
print(user_input['coordinates'][0])

Question 16: Extract first coordinate from nested tuple
10

In [10]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")
# Your code here
user_input = {
    'vowels': {'a', 'e', 'i'},
    'consonants': {'b', 'c', 'd'}
}
print(user_input)

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
{'vowels': {'e', 'a', 'i'}, 'consonants': {'b', 'd', 'c'}}

In [11]:
# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")
# Your code here
user_input = {
    'vowels': {'a', 'e', 'i'},
    'consonants': {'b', 'c', 'd'}
}
user_input['vowels'] = {'a', 'e', 'i', 'o'}
print(user_input)

Question 18: Add 'o' to vowels set in nested dictionary
{'vowels': {'o', 'e', 'a', 'i'}, 'consonants': {'b', 'd', 'c'}}

In [12]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")
# Your code here
three_level_dict = {
    'company' : {
        'department' : {
            'employee' : {
                'name' : 'John' ,
                'id' : 123
            }
        }
    }
}
print(three_level_dict)

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [13]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")
# Your code here
three_level_dict = {
    'company' : {
        'department' : {
            'employee' : {
                'name' : 'John' ,
                'id' : 123
            }
        }
    }
}
print(three_level_dict['company']['department']['employee']['name'])

Question 20: Access employee name from 3-level nested dictionary
John

In [14]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")
# Your code here
mixed_dict = {
    'int' : 42 ,
    'float' : 3.14 ,
    'str' :'hello' ,
    'bool' : True
}
print(mixed_dict)

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [16]:
# Question 22: Check data type of each value in mixed dictionary
print("\nQuestion 22: Check data type of each value in mixed dictionary")
# Your code here
mixed_dict = {
    'int' : 42 ,
    'float' : 3.14 ,
    'str' :'hello' ,
    'bool' : True
}
print(type(mixed_dict['int']))
print(type(mixed_dict['float']))
print(type(mixed_dict['str']))
print(type(mixed_dict['bool']))

Question 22: Check data type of each value in mixed dictionary
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [17]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
print("\nQuestion 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}")
# Your code here
func_dict = {
    'len' : len ,
    'str' : str ,
    'int' : int
}
print(func_dict)

Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
{'len': <built-in function len>, 'str': <class 'str'>, 'int': <class 'int'>}

In [26]:
# Question 24: Apply each function to "123" using dictionary
print("\nQuestion 24: Apply each function to '123' using dictionary")
# Your code here
func_dict = {
    'len' : len ,
    'str' : str ,
    'int' : int
}
print(func_dict['len']('123'))
print(func_dict['str']('123'))
print(func_dict['int']('123'))

Question 24: Apply each function to '123' using dictionary
3
123
123

In [28]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
print("\nQuestion 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}")
# Your code here
lambda_dict = {
    'double' : lambda x : x*2,
    'square' : lambda x : x**2
}
print(lambda_dict)

Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
{'double': <function <lambda> at 0x78fe84b5cc20>, 'square': <function <lambda> at 0x78fe84b5fe20>}

In [29]:
# Question 26: Apply each lambda function to 5
print("\nQuestion 26: Apply each lambda function to 5")
# Your code here
lambda_dict = {
    'double' : lambda x : x*2,
    'square' : lambda x : x**2
}
print(lambda_dict['double'](5))
print(lambda_dict['square'](5))

Question 26: Apply each lambda function to 5
10
25

In [30]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
print("\nQuestion 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}")
# Your code here
class_dict = {
    'list' : list,
    'dict' : dict,
    'set' : set
}
print(class_dict)

Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}

In [ ]:
# Question 28: Create instances using class dictionary
print("\nQuestion 28: Create instances using class dictionary")
# Your code here

In [31]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
print("\nQuestion 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}")
# Your code here
None_dict = {
    'a' : None,
    'b' : None,
    'c' : None
}
print(None_dict)

Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
{'a': None, 'b': None, 'c': None}

In [33]:
# Question 30: Replace all None values with 0
print("\nQuestion 30: Replace all None values with 0")
# Your code here
None_dict = {
    'a' : None,
    'b' : None,
    'c' : None
}
None_dict['a'] = 0
None_dict['b'] = 0
None_dict['c'] = 0
print(None_dict)

Question 30: Replace all None values with 0
{'a': 0, 'b': 0, 'c': 0}

In [34]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
print("\nQuestion 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}")
# Your code here
bool_dict = {
    'is_active' : True,
    'is_admin' : False
}
print(bool_dict)

Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
{'is_active': True, 'is_admin': False}

In [36]:
# Question 32: Count True values in boolean dictionary
print("\nQuestion 32: Count True values in boolean dictionary")
# Your code here
bool_dict = {
    'is_active' : True,
    'is_admin' : False
}
count = 0
for key,value in bool_dict.items():
  if bool_dict[key] == True:
    count += 1

print(count)

Question 32: Count True values in boolean dictionary
1

In [37]:
# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
print("\nQuestion 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}")
# Your code here
complex_dict = {
    'z1' : 3+4j,
    'z2' : 1+2j
}
print(complex_dict)

Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
{'z1': (3+4j), 'z2': (1+2j)}

In [38]:
# Question 34: Find magnitude of each complex number
print("\nQuestion 34: Find magnitude of each complex number")
# Your code here
magnitudes = {}

for key, value in complex_dict.items():
    magnitudes[key] = abs(value)

print(magnitudes)

Question 34: Find magnitude of each complex number
{'z1': 5.0, 'z2': 2.23606797749979}

In [2]:
# Question 35: Create a 4-level nested dictionary
print("\nQuestion 35: Create a 4-level nested dictionary")
# Your code here
four_level_dict = {
    'employer' : {
        'department' : {
            'employee' : {
                'projects_handling' : {
                    'client' : 'Ford',
                    'language_used' : 'Data Science'
                }
            }
        }
    }
}

print(four_level_dict)

Question 35: Create a 4-level nested dictionary
{'employer': {'department': {'employee': {'projects_handling': {'client': 'Ford', 'language_used': 'Data Science'}}}}}

In [4]:
# Question 36: Access deepest value in 4-level nested dictionary
print("\nQuestion 36: Access deepest value in 4-level nested dictionary")
# Your code here
four_level_dict = {
    'employer' : {
        'department' : {
            'employee' : {
                'projects_handling' : {
                    'client' : 'Ford',
                    'language_used' : 'Data Science'
                }
            }
        }
    }
}

print(four_level_dict['employer']['department']['employee']['projects_handling'])

Question 36: Access deepest value in 4-level nested dictionary
{'client': 'Ford', 'language_used': 'Data Science'}

In [5]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
print("\nQuestion 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}")
# Your code here
dict_range = {
    'r1' : range(3),
    'r2' : range(5)
}
print(dict_range)

Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
{'r1': range(0, 3), 'r2': range(0, 5)}

In [6]:
# Question 38: Convert each range to list
print("\nQuestion 38: Convert each range to list")
# Your code here
dict_range = {
    'r1' : range(3),
    'r2' : range(5)
}
for key, value in dict_range.items() :
  dict_range[key] = list(value)

print(dict_range)

Question 38: Convert each range to list
{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [7]:
# Question 39: Create a dictionary with generator values
print("\nQuestion 39: Create a dictionary with generator values")
# Your code here
gen_dict = {
    'g1': (i for i in range(3)),
    'g2': (i*i for i in range(3))
}

print(gen_dict)

Question 39: Create a dictionary with generator values
{'g1': <generator object <genexpr> at 0x7bd78e416800>, 'g2': <generator object <genexpr> at 0x7bd78cfde330>}

In [8]:
# Question 40: Convert each generator to list
print("\nQuestion 40: Convert each generator to list")
# Your code here
gen_dict = {
    'g1': (i for i in range(3)),
    'g2': (i*i for i in range(3))
}
for key, value in gen_dict.items() :
  gen_dict[key] = list(value)

print(gen_dict)

Question 40: Convert each generator to list
{'g1': [0, 1, 2], 'g2': [0, 1, 4]}

In [9]:
# Question 41: Create a dictionary with iterator values
print("\nQuestion 41: Create a dictionary with iterator values")
# Your code here
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter('abc')
}

print(iter_dict)

Question 41: Create a dictionary with iterator values
{'it1': <list_iterator object at 0x7bd78cfe0d90>, 'it2': <str_ascii_iterator object at 0x7bd78cfe1f60>}

In [10]:
# Question 42: Extract all elements from each iterator
print("\nQuestion 42: Extract all elements from each iterator")
# Your code here
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter('abc')
}

extracted = {}

for key, it in iter_dict.items():
    extracted[key] = list(it)

print(extracted)

Question 42: Extract all elements from each iterator
{'it1': [1, 2, 3], 'it2': ['a', 'b', 'c']}

In [11]:
# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
print("\nQuestion 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}")
# Your code here
nested_list = {
    'matrix' : [[1,2], [3,4]],
    'vector' : [5,6,7]
}
print(nested_list)

Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [12]:
# Question 44: Find sum of each nested list
print("\nQuestion 44: Find sum of each nested list")
# Your code here
##(R)
nested_list = {
    'matrix': [[1, 2], [3, 4]],
    'vector': [5, 6, 7]
}

sum_dict = {}

for key, value in nested_list.items():
    total = 0
    for item in value:
        if isinstance(item, list):
            total += sum(item)
        else:
            total += item
    sum_dict[key] = total

print(sum_dict)

Question 44: Find sum of each nested list
{'matrix': 10, 'vector': 18}

In [13]:
# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
print("\nQuestion 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}")
# Your code here
nested_dict = {
    'config' : {
        'db' : {
            'host' : 'localhost',
            'port' : 5432
        }
    }
}
print(nested_dict)

Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [14]:
# Question 46: Access database port from nested configuration
print("\nQuestion 46: Access database port from nested configuration")
# Your code here
nested_dict = {
    'config' : {
        'db' : {
            'host' : 'localhost',
            'port' : 5432
        }
    }
}
print(nested_dict['config']['db']['port'])

Question 46: Access database port from nested configuration
5432

In [15]:
# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
print("\nQuestion 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}")
# Your code here
nested_tuples = {
    'points' : ((1,2), (3,4)),
    'rgb' : ((255,0,0), (0,255,0))
}
print(nested_tuples)

Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [16]:
# Question 48: Extract first point coordinates
print("\nQuestion 48: Extract first point coordinates")
# Your code here
nested_tuples = {
    'points' : ((1,2), (3,4)),
    'rgb' : ((255,0,0), (0,255,0))
}
print(nested_tuples['points'][0])

Question 48: Extract first point coordinates
(1, 2)

In [18]:
from typing_extensions import FrozenSet
# Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
print("\nQuestion 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}")
# Your code here
nested_sets = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}
print(nested_sets)

Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
{'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})}, 'categories': {frozenset({'b', 'a'}), frozenset({'c', 'd'})}}

In [19]:
# Question 50: Find union of all nested sets
print("\nQuestion 50: Find union of all nested sets")
# Your code here
#(R)
nested_sets = {
    'groups' : {frozenset({1,2,3}), frozenset({4,5,6})},
    'categories' : {frozenset({'a','b'}), frozenset({'c','d'})}
}
union_dict = {}

for key, value in nested_sets.items():
  union_set = set()
  for fs in value:
    union_set |= fs
  union_dict[key] = union_set

print(union_dict)

Question 50: Find union of all nested sets
{'groups': {1, 2, 3, 4, 5, 6}, 'categories': {'c', 'b', 'd', 'a'}}