In [ ]:
# LIST DATATYPE ASSIGNMENT - 50 QUESTIONS
# ======================================

# SOLVED EXAMPLE
# --------------
# Question: Find the maximum and minimum values in a list
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

#### ASSIGNMENT QUESTIONS (50 QUESTIONS)
#### ==================================

In [ ]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
# Your code here
result = []
for i in range(0,11):
  result.append(i**2)
print(result)

Question 1: Create a list of first 10 square numbers
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum1 = 0
for i in arr:
  if i%2 == 0:
    sum1 += i
print(sum1)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
30

In [ ]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
# Your code here
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = []

for i in numbers:
  if i not in unique_numbers:
    unique_numbers.append(i)

print(unique_numbers)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
numbers = [64, 34, 25, 12, 22, 11, 90]
#Way1: Using sorted() in-built function
print(sorted(numbers,reverse=True))
#Way2: Using sort() method
numbers.sort(reverse=True)
# don't assign a variable to store sort() result as sort() returns None.
print(numbers)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]
[90, 64, 34, 25, 22, 12, 11]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
# Your code here
numbers = [15, 23, 31, 42, 56, 78, 91]
length = len(numbers)
sumOfNum = 0
for i in range(0,length):
  sumOfNum += i
avg = sumOfNum / length
print(avg)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
3.0

In [ ]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
# Your code here
'''num1 = 0
num2 = 1
result = []
result.append(num1)
result.append(num2)
for i in range(2,16):
  num3 = num1 + num2
  result.append(num3)
  num1 = num2
  num2 = num3
print(result)'''

#Way2: Clean code:
n = 15
fibonacci = [0, 1]

for i in range(n - 2):
    fibonacci.append(fibonacci[-1] + fibonacci[-2])

print(fibonacci)

#Way 3:
fibonacci = [0, 1]
for _ in range(13):
    fibonacci.append(sum(fibonacci[-2:]))

print(fibonacci)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
# Your code here
'''
numbers = [45, 67, 23, 89, 89, 12, 34, 78]
numbers.sort()
print(numbers[-2])
This logic doesn't satisfy when duplicates are present
'''
# Remove Duplicates
numbers = [45, 67, 23, 89, 12, 34, 78]
unique_list = []

for n in numbers:
  if n not in unique_list:
    unique_list.append(n)
unique_list.sort()
print(unique_list[-2])

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [ ]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arr.reverse()
print(arr)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
# Your code here
#Way1: wthout using method
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = 0

for i in numbers:
  if i == 5:
    count_5 += 1

print(count_5)

#Way2: With count method
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
print(numbers.count(5))

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4
4

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here
primes = []

for num in range(2, 51):
    # assume num is prime
    for i in range(2, num):
        if num%i == 0:
            # num is not prime
            break
    else:
        primes.append(num)

print(primes)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [3]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = []
for sublist in nested_list:
  for item in sublist:
    flatten_list.append(item)

print(flatten_list)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_ele = []

for item in list1:
  if item in list2:
    common_ele.append(item)

print(common_ele)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
[4, 5]

In [6]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here
list1 = [[1, 2], [3, 4], [5, 6]]
print(list1)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [7]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_list = []
sum_item = 0
for sublist in list1:
  for item in sublist:
    sum_item += item
  sum_list.append(sum_item)
  sum_item = 0

print(sum_list)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[6, 15, 24]

In [9]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
transpose = []
for i in range(len(matrix)):
  new_row = []
  for row in matrix:
    new_row.append(row[i])
  transpose.append(new_row)

print(transpose)

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [11]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
# Your code here
input_list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_list = []

for i in range(len(input_list)):
    current_max = input_list[i][0]
    for j in range(len(input_list[i])):
        if input_list[i][j] > current_max:
            current_max = input_list[i][j]
    max_list.append(current_max)

print(max_list)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
[5, 9, 8]

In [3]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here
three_d_list = []
num = 1

for _ in range(2):
    matrix = []
    for _ in range(2):
        matrix.append([num, num + 1])
        num += 2
    three_d_list.append(matrix)

print(three_d_list)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [13]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here
threed_list =  [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum_of_list = 0
for i in range(len(threed_list)):
  for substring in threed_list:
    for subsubstring in substring:
      sum_of_list += subsubstring[i]

print(sum_of_list)

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
36

In [17]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_numbers = []
for i in range(len(nested_list)): # i 0->3
  for substring in nested_list: # [1,2,3]
    if substring[i] % 2 == 0: #
      even_numbers.append(substring[i])

even_numbers.sort()
print(even_numbers)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

In [2]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
# Your code here
mixed_list = []
mixed_list.append(1)
mixed_list.append('hello')
mixed_list.append(3.14)
mixed_list.append(True)
mixed_list.append([1,2,3])
print(mixed_list)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
[1, 'hello', 3.14, True, [1, 2, 3]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [21]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
# Your code here
input_list =  ["apple", "banana", "cherry", "date"]
length_list = []

for word in input_list:
    length_list.append(len(word))

print(length_list)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
[5, 6, 6, 4]

In [22]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
list_of_tuples = []
numbers = [1,2,3]
letters = ['a','b','c']

for i in range(len(numbers)):
  list_of_tuples.append((numbers[i], letters[i]))

print(list_of_tuples)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
for substring in list_of_tuples:
  print(substring[0])

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
1
2
3

In [4]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
# Your code here
list_of_dicts = []
names = ['Alice','Bob']
ages = [25,30]

for i in range(len(names)):
  list_of_dicts.append({'name':names[i], 'age':ages[i]})

print(list_of_dicts)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [5]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
# Your code here
list_of_dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
names = []

for person in list_of_dicts:
  names.append(person['name'])

print(names)

Question 25: Extract all 'name' values from list of dictionaries
['Alice', 'Bob']

In [9]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
# Your code here
list_of_dicts = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30}
]
max_age = 0
max_person = None

for person in list_of_dicts:
    if person['age'] > max_age:
        max_age = person['age']
        max_person = person

print(max_person['name'])

Question 26: Find the person with maximum age in list of dictionaries
Bob

In [12]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
# Your code here
'''
4D list looks like:
[
  [
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
  ],
  [
    [[9, 10], [11, 12]],
    [[13, 14], [15, 16]]
  ]
]
'''

four_d_list = []
num = 1

for _ in range(2):
  three_d = []
  for _ in range(2):
    matrix = []
    for _ in range(2):
      matrix.append([num, num+1])
      num += 2
    three_d.append(matrix)
  four_d_list.append(three_d)

print(four_d_list)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [13]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
# Your code here
four_d_list = [
    [
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]

max_value = four_d_list[0][0][0][0]

for block in four_d_list:
  for matrix in block:
    for row in matrix:
      for value in row :
        if value > max_value:
          max_value = value

print(max_value)

Question 28: Find the maximum value in 4D list
16

In [14]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
# Your code here

list_of_sets = []
num = 1

for _ in range(3):
  list_of_sets.append({num, num+1, num+2})
  num+=3
print(list_of_sets)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [15]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
# Your code here

list_of_sets = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

union_set = set()

for s in list_of_sets:
  union_set = union_set.union(s)

print(union_set)

Question 30: Find the union of all sets in list of sets
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
# Your code here

complex_list = []

real = 1
imag = 2

for _ in range(3):
  complex_list.append(real + imag*1j)
  real += 2
  imag += 2

print(complex_list)

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
[(1+2j), (3+4j), (5+6j)]

In [17]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
# Your code here
'''
What is magnitude of a complex number mean?
z = a + bj

magnitude = sqrt(a**2 + b**2)

abs(z): ABSOLUTE VALUE
-----
For integers -> distance from 0
For floats -> distance from 0
For complex numbers -> magnitude(length)
'''
complex_list = [1+2j, 3+4j, 5+6j]
magnitudes = []
for z in complex_list:
  magnitudes.append(abs(z))

print(magnitudes)

Question 32: Find the magnitude of each complex number in list
[2.23606797749979, 5.0, 7.810249675906654]

In [18]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
# Your code here
nested_list = []

for i in range(1,8):
  if i == 1:
    nested_list.append(1)
  elif i == 2:
    nested_list.append([2,3])
  elif i==4:
    nested_list.append([4,[5,6]])
  elif i==7:
    nested_list.append(7)

print(nested_list)

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
[1, [2, 3], [4, [5, 6]], 7]

In [20]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")
# Your code here
# Way1 : Without recursion

nested_list = [1, [2, 3], [4, [5, 6]], 7]

max_depth = 0

for item in nested_list:
  if isinstance(item,list):
    max_depth = 1
    for subitem in item:
      if isinstance(subitem,list):
        max_depth = 2

print(max_depth)

#Way 2 : Using recursion
def find_depth(last):
  max_depth = 0
  for item in last:
    if isinstance(item, list):
      depth = 1 + find_depth(item)
      max_depth = max(max_depth, depth)
  return max_depth

  nested_list = [1, [2, 3], [4, [5, 6]], 7]
  print(find_depth(nested_list))

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
2

In [21]:
# Question 35: Create a list of functions: [len, str, int, float]
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")
# Your code here
function_list = [len, str, int, float]
print(function_list)

Question 35: Create a list of functions: [len, str, int, float]
[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [22]:
# Question 36: Apply each function in list to string "123"
print("\nQuestion 36: Apply each function in list to string '123'")
# Your code here
function_list = [len, str, int, float]
results = []

for func in function_list:
  results.append(func('123'))

print(results)

Question 36: Apply each function in list to string '123'
[3, '123', 123, 123.0]

In [23]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")
# Your code here
'''
Lambda is a anonymous function. Written in one line. Used for simpler operations
For Ex:
lambda x : x + 1
is same as
def f(x):
  return x + 1
'''

lambda_list = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]

print(lambda_list)

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
[<function <lambda> at 0x7fbf4182cae0>, <function <lambda> at 0x7fbf4182f4c0>, <function <lambda> at 0x7fbf4182f240>]

In [24]:
# Question 38: Apply each lambda function to 5
print("\nQuestion 38: Apply each lambda function to 5")
# Your code here

lambda_list = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]
results = []

for func in lambda_list:
  results.append(func(5))

print(results)

Question 38: Apply each lambda function to 5
[10, 25, 6]

In [ ]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")
# Your code here
class_list = [list, dict, set, tuple]
print(class_list)

In [26]:
# Question 40: Create instances of each class in list
print("\nQuestion 40: Create instances of each class in list")
# Your code here
class_list = [list, dict, set, tuple]
#print(class_list)
instances = []

for cls in class_list:
  instances.append(cls())

print(instances)

Question 40: Create instances of each class in list
[[], {}, set(), ()]

In [27]:
# Question 41: Create a list of None values: [None, None, None, None]
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")
# Your code here
none_list = [None, None, None, None]
print(none_list)

#Way 2:
none_list = []

for _ in range(4):
    none_list.append(None)

print(none_list)

Question 41: Create a list of None values: [None, None, None, None]
[None, None, None, None]
[None, None, None, None]

In [28]:
# Question 42: Replace all None values with 0 in list
print("\nQuestion 42: Replace all None values with 0 in list")
# Your code here
none_list = [None, None, None, None]
#print(none_list)
zer_list = []
for item in none_list:
  if item == None:
    zer_list.append(0)

print(zer_list)

Question 42: Replace all None values with 0 in list
[0, 0, 0, 0]

In [ ]:
# Question 43: Create a list of boolean values: [True, False, True, False]
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")
# Your code here
# Way 1:
bool_list = [True, False, True, False]
print(bool_list)

# Way 2:
bool_list = []

for value in [True, False, True, False]:
    bool_list.append(value)

print(bool_list)

# Way 3:
bool_list = []

for i in range(4):
    bool_list.append(i % 2 == 0)

print(bool_list)

In [29]:
# Question 44: Count True values in boolean list
print("\nQuestion 44: Count True values in boolean list")
# Your code here

bool_list = [True, False, True, False]
count = 0

for i in bool_list:
  if i == True:
    count += 1

print(count)

Question 44: Count True values in boolean list
2

In [ ]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")
# Your code here

range_list = [range(3), range(5), range(2)]
print(range_list)

In [30]:
# Question 46: Convert each range to list
print("\nQuestion 46: Convert each range to list")
# Your code here

range_list = [range(3), range(5), range(2)]
#print(range_list)
list_of_lists = []

for r in range_list:
  list_of_lists.append(list(r))

print(list_of_lists)

Question 46: Convert each range to list
[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [ ]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")
# Your code here
range_list = [range(3), range(5), range(2)]
print(range_list)

In [31]:
# Question 48: Convert each generator to list
print("\nQuestion 48: Convert each generator to list")
# Your code here

gen_list = [(x for x in range(3)), (x for x in range(5))]
list_of_lists = []

for gen in gen_list:
  list_of_lists.append(list(gen))

print(list_of_lists)

Question 48: Convert each generator to list
[[0, 1, 2], [0, 1, 2, 3, 4]]

In [32]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")
# Your code here
iterator_list = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iterator_list)

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
[<list_iterator object at 0x7fbf41699a20>, <list_iterator object at 0x7fbf416991b0>]

In [34]:
# Question 50: Extract all elements from each iterator
print("\nQuestion 50: Extract all elements from each iterator")
# Your code here
iterator_list = [iter([1, 2, 3]), iter([4, 5, 6])]
#print(iterator_list)
result = []

for it in iterator_list:
  result.append(list(it))

print(result)

Question 50: Extract all elements from each iterator
[[1, 2, 3], [4, 5, 6]]