In [ ]:
# SET DATATYPE ASSIGNMENT
# ======================

# SOLVED EXAMPLE
# --------------
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

#### ASSIGNMENT QUESTIONS
#### ===================

In [1]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
# Your code here
natural_numbers = set(range(1,11))
print(natural_numbers)

Question 1: Create a set of first 10 natural numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
# Your code here
s = {1,2,3,4,5}
s.add(11)
print(s)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [3]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
# Your code here
s = {1, 2, 3, 4, 5, 6}
s.remove(3)
print(s)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [4]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.intersection(set2))

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{4, 5}

In [5]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.difference(set2))

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{1, 2, 3}

In [6]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
# Your code here
s = {1, 2, 3, 4, 6, 7, 8}
print(5 in s)

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
False

In [7]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
# Your code here

letters = {'a', 'b', 'c', 'd', 'e'}
print(len(letters))

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
5

In [8]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
# Your code here
text = 'hello world'
vowels = {'a', 'e', 'i', 'o', 'u'}

vowel_set = set(char for char in text if char in vowels)
print(vowel_set)

Question 8: Create a set of vowels from string 'hello world'
{'e', 'o'}

In [9]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
# Your code here
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_list = list(set(lst))
print(unique_list)

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
[1, 2, 3, 4, 5, 6, 7]

In [10]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
# Your code here
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5, 6}
print(set_a.issubset(set_b))

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
True